<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8" >
      <title>My Video Games Catalog</title>
    </head>
    <body>
      <h1>Here are games informations</h1>
      <p>{{gameInfo.name}}</p>
      {% for genre in gameInfo.genres %}
        <p>{{genre.name}}</p>
      {% endfor %}
    </body>
  </html>
