<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8" >
      <title>My Video Games Catalog</title>
    </head>
    <body>
      <h1>Coucou</h1>
      {# <p>{{ result.platforms[1].name }}</p> #}
      <ul>
        {% for plateform in result.plateforms %}
          <li>{{plop}}</li>
        {% endfor %}
      </ul>
    </body>
  </html>
