<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8" >
      <title>My Video Games Catalog</title>
    </head>
    <body>
      <h1>Coucou</h1>
      <ul>
        {% for platform in Platforms %}
          <li>
            <a href="/platforms/{{platform.id}}"><p>{{platform.name}}</p></a>
            {% if platform.logo !== null %}
              <img src="{{platform.logo.url}}" alt="{{platform.slug}}" />
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </body>
  </html>
