<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8" >
      <title>My Video Games Catalog</title>
    </head>
    <body>
      <h1>Coucou</h1>
      <ul>
        {% for plateform in Plateforms %}
          <li>
            <a href="/{{plateform.id}}"><p>{{plateform.name}}</p></a>
            {% if plateform.logo !== null %}
              <img src="{{plateform.logo.url}}" alt="{{plateform.slug}}" />
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </body>
  </html>
