<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8" >
      <title>My Video Games Catalog</title>
    </head>
    <body>
      <h1>Heyyy</h1>
       <ul>
        {% for games in plateformGame %}
          <li>
            plop
          </li>
        {% endfor %}
      </ul>
    </body>
  </html>
