<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8" >
      <title>My Video Games Catalog</title>
    </head>
    <body>
      <h1>Heyyy</h1>
       <ul>
        {% for game in plateformGame.games %}
          <li>
            <a href="/{{game.id}}"><p>{{game.name}}</p></a>
          </li>
        {% endfor %}
      </ul>
    </body>
  </html>
